/* line 1, ../sass/booking-booking.scss */
.booking-module {
  /* Modal Content */
  /* end pop windo */
}
/* line 2, ../sass/booking-booking.scss */
.booking-module .modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  padding-top: 200px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* line 17, ../sass/booking-booking.scss */
.booking-module .modal-content {
  height: 500px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
}
/* line 29, ../sass/booking-booking.scss */
.booking-module .confirm {
  float: right;
}
/* line 33, ../sass/booking-booking.scss */
.booking-module .book-slot {
  margin-right: 5px;
}
/* line 36, ../sass/booking-booking.scss */
.booking-module .booking-calendar {
  height: 800px;
}
/* line 42, ../sass/booking-booking.scss */
.booking-module .booking-signUp {
  float: right;
}
/* line 47, ../sass/booking-booking.scss */
.booking-module .booking-signUp, .booking-module .booking-login {
  display: inline-block;
}
/* line 50, ../sass/booking-booking.scss */
.booking-module .book-form {
  margin-top: 100px;
}
/* line 54, ../sass/booking-booking.scss */
.booking-module .warning {
  color: red;
  display: none;
}
/* line 60, ../sass/booking-booking.scss */
.booking-module #booking-logOut {
  float: right;
  text-decoration: underline;
}
/* line 64, ../sass/booking-booking.scss */
.booking-module #booking-logOut:hover {
  color: red;
  text-decoration: none;
}
/* line 69, ../sass/booking-booking.scss */
.booking-module .booking-windo-close {
  margin-top: 90px;
  display: none;
}
/* line 73, ../sass/booking-booking.scss */
.booking-module .right {
  float: right;
}
/* line 77, ../sass/booking-booking.scss */
.booking-module a {
  text-decoration: underline;
}
/* line 81, ../sass/booking-booking.scss */
.booking-module .client-book {
  margin-bottom: 5%;
}

/*end of main class*/
