{{content.addServiceForm}} <br>

{% for item in content.services %}
    <a href="/booking/service/{{item.id}}">{{item.title}}</a><br>
{% endfor %}

<button onclick="window.history.back();">Back button</button>

<a onclick="window.history.back();">link button</a>
