{{dump(content)}}

<dir ng-app='myModule'>
  <div ng-controller="myController">
    {[{content.title}]} <br>
  </div>
</dir>

<div class="booking-calendar">
  <div id="calendarContainer"></div>
  <div id="organizerContainer" style="margin-left: 8px;"></div>
</div>

<script>
</script>
