{{content.server.name}}

<dir ng-app='bookingServer'>
  <div ng-controller="bookingServerCtrl">
{[{content.years[0].int}]}

    <label>Search: <input ng-model="searchText"></label>
    <table id="searchTextResults">
      <tr><th>Name</th><th>Phone</th></tr>
      <tr ng-repeat="item in content.years[0].months[0].days | filter:searchText">
        <td>{[{item.int}]}</td>
      </tr>
    </table>
    <hr>



  </div>
</dir>



  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
  $( function() {
    $( "#datepicker" ).datepicker({
      showWeek: true,
      firstDay: 1
    });
  } );
  </script>


<p>Date: <input type="text" id="datepicker"></p>

